<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maiquynhtruong.heathyreminders">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notification"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_alerts"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Services.ReminderIntentService"
            android:exported="false"
            />
        <service android:name=".Services.ReminderFirebaseJobService"
            android:exported="false"
            />
        <activity android:name=".Activities.AddReminderActivity"/>
        <receiver android:name=".Receivers.AlarmBroadcastReceiver"/>
        <receiver android:name=".Receivers.AlarmBroadcastReceiver"/>
    </application>

</manifest>